body{
    background-color: rgb(247, 240, 240);
}

.navbar {
    background-color: rgba(83, 79, 79, 0.233);
    box-shadow: 4px 4px rgba(236, 211, 211, 0.1);
}

.navbar a{
    color: rgb(255, 255, 255);
}


.navbar a:active{
    color: rgb(140, 170, 236) !important;
}

.card {
    width: 300px;
    height: 100%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgb(20, 27, 27);
    transition: 0.3s;
}
.card  {
    font-style: inherit;
    text-align: center;
    
    
  }
